[submodule "Assets/UnityOSC"]
	path = Assets/UnityOSC
	url = git@github.com:n1ckfg/UnityOSC.git
	branch = master
[submodule "Tools-submodules/ConcordiaReceiver"]
	path = Tools-submodules/ConcordiaReceiver
	url = https://github.com/n1ckfg/ConcordiaReceiver
[submodule "Tools-submodules/Concordia_Sound"]
	path = Tools-submodules/Concordia_Sound
	url = https://github.com/luckandrew/Concordia_Sound
